<!--
	ioBroker.vis vis-inventwo Widget-Set
	version: "1.3.0"
	Copyright 2020 jkvarel jkvarel@inventwo.com
-->
<link rel="stylesheet" href="widgets/vis-inventwo/css/style.css" />

<script type="text/javascript" src="widgets/vis-inventwo/js/vis-inventwo.js"></script>

<script id="i-vis-switch"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Switch.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/html;iTextTrue/html;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Switch">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">

            	<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>


                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%== this.data.iTextTrue %>
		            </div>
                <% } else { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%== this.data.iTextFalse %>
		            </div>
                <% } %>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].handleToggle(el, this.data) %>
		</div>

	</div>
</script>

<script id="i-vis-switch-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Switch1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Switch Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>

            <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iTextTrue %>
		        </div>
            <% } else { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iTextFalse %>
		        </div>
            <% } %>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].handleToggle(el, this.data) %>
		</div>

	</div>
</script>

<script id="i-vis-button"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Button.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;value;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Button">

		<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">
                <div class="vis-inventwo-button-imageContainer">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>">
                    <%== this.data.iText %>
		        </div>
            </div>
		</div>
        <%= (el) -> vis.binds['vis-inventwo'].state(el, this.data) %>
	</div>
</script>

<script id="i-vis-button-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Button1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;value;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Button Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iText %>
		        </div>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].state(el, this.data) %>
		</div>

	</div>
</script>

<script id="i-vis-navigation"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Nav.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;nav_view;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iNavWait[100]/number;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Navigation">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds['vis-inventwo'].handleNavigation(el, data) %>>
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

			<%
				let backgroundcol = this.data.iButtonCol;
				if(this.data.nav_view === vis.activeView){
					backgroundcol = this.data.iButtonActive;
				}
			%>

            <div class="vis-inventwo-button vis-inventwo-nav" data-inventwo-nav="<%= this.data.nav_view%>" data-activeCol="<%= this.data.iButtonActive%>" data-col="<%= this.data.iButtonCol%>"
                    style="background: <%= backgroundcol %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">
                <div class="vis-inventwo-button-imageContainer">

                        <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">

                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>">
                    <%== this.data.iText %>
		        </div>
            </div>
		</div>

	</div>
</script>

<script id="i-vis-navigation-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Nav1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;nav_view;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iNavWait[100]/number;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Navigation Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds['vis-inventwo'].handleNavigation(el, data) %>>
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

			<%
				let backgroundcol = this.data.iButtonCol;
				if(this.data.nav_view === vis.activeView){
					backgroundcol = this.data.iButtonActive;
				}
			%>

            <div class="vis-inventwo-button vis-inventwo-nav" data-inventwo-nav="<%= this.data.nav_view%>" data-activeCol="<%= this.data.iButtonActive%>" data-col="<%= this.data.iButtonCol%>"
                    style="background:  <%= backgroundcol %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iText %>
		        </div>

            </div>
		</div>

	</div>
</script>

<script id="i-vis-background"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Background.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/html;iTextTrue/html;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="val"
		data-vis-name="Background">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">

            	<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>


                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%== this.data.iTextTrue %>
		            </div>
                <% } else { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%== this.data.iTextFalse %>
		            </div>
                <% } %>

            </div>
		</div>

	</div>
</script>

<script id="i-vis-background-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Background1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="val"
		data-vis-name="Background Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>

            <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iTextTrue %>
		        </div>
            <% } else { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%== this.data.iTextFalse %>
		        </div>
            <% } %>

            </div>
		</div>

	</div>
</script>

<script id="i-vis-slider-simple"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Slider1b.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iMinVal[1]/number;iMaxVal[100]/number;iStepVal[1]/number;iSliderRotation[0]/slider,-45,45,1;iSliderLabel/text;iShowMinMax/checkbox;iShowValue/checkbox;iValuePreText/text;"
		data-vis-attrs0="group.i-css;iSliderHeight[10]/slider,1,200,1;iSliderKnobSize[20]/slider,1,200,1;iSliderColor[#ffffff]/color;iSliderKnobColor[#455618]/color;iSliderTextColor[#ffffff]/color;iValueTextColor[#455618]/color;iTextSize[12]/slider,0,50,1;iSliderCorners[100]/slider,0,100,1;iSliderKnobCorners[100]/slider,0,100,1;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Simple Slider horizontal">

	<%

		let elHeight;
		let topSpace = 0;
		if((this.data.iSliderKnobSize < this.data.iTextSize) && this.data.iShowMinMax){
			elHeight = elHeight = parseInt(this.data.iTextSize) * 2 + 15;
			topSpace = parseInt(this.data.iTextSize) / 2;
		}
		else{
			elHeight = parseInt(this.data.iSliderKnobSize) + parseInt(this.data.iTextSize) + 15;
			topSpace = parseInt(this.data.iSliderKnobSize) / 2;
		}

	%>

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" id="<%= this.data.attr('wid') %>"
		style="width:200px; height:<%= elHeight%>px; overflow:visible; cursor:pointer;font-size:<%= this.data.iTextSize %>px;color:<%= this.data.iSliderTextColor %>;z-index:1" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> " style="position:relative; height: auto; display:flex;align-items:center;flex-wrap:wrap; top:<%= topSpace%>px;">

			<% if(this.data.iShowMinMax){ %>
				<div style="margin-right: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px"><%= this.data.iMinVal %></div>

				<div style="top:50%;flex-grow:1; border: 0px; border-radius: <%= this.data.iSliderCorners %>px;background: <%= this.data.iSliderColor %>; height: <%= this.data.iSliderHeight %>px;"
					<%= (el) -> vis.binds['vis-inventwo'].handleSlider(el, this.data,{orientation:"horizontal"}) %> ></div>

				<div style="margin-left: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px"><%= this.data.iMaxVal %></div>

			<% } else { %>
				<div style="top:50%;flex-grow:1; border: 0px; border-radius: <%= this.data.iSliderCorners %>px;background: <%= this.data.iSliderColor %>; height: <%= this.data.iSliderHeight %>px; margin: 0 <%= this.data.iShowMinMax %>px;"
					<%= (el) -> vis.binds['vis-inventwo'].handleSlider(el, this.data,{orientation:"horizontal"}) %> ></div>

			<% } %>

		</div>

		<div style="position:absolute; left:0px; bottom:0px;"><%= this.data.iSliderLabel %></div>
		<% if(this.data.iShowValue){ %>
			<div style="position:absolute; right:0px; bottom:0px;color:<%= this.data.iValueTextColor%>"><%== this.data.iValuePreText%><%= vis.states.attr(this.data.oid + '.val') %></div>
		<% } %>

	</div>
</script>

<script id="i-vis-slider-simple-2"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Slider2b.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iMinVal[1]/number;iMaxVal[100]/number;iStepVal[1]/number;iSliderRotation[0]/slider,-45,45,1;iSliderLabel/text;iShowMinMax/checkbox;iShowValue/checkbox;iValuePreText/text;"
		data-vis-attrs0="group.i-css;iSliderHeight[10]/slider,1,200,1;iSliderKnobSize[20]/slider,1,200,1;iSliderColor[#ffffff]/color;iSliderKnobColor[#455618]/color;iSliderTextColor[#ffffff]/color;iValueTextColor[#455618]/color;iTextSize[12]/slider,0,50,1;iSliderCorners[100]/slider,0,100,1;iSliderKnobCorners[100]/slider,0,100,1;"
		data-vis-set="vis-inventwo"
		data-vis-type="ctrl"
		data-vis-name="Simple Slider vertical">


	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" id="<%= this.data.attr('wid') %>"
		style="height:200px; width:<%= this.data.iSliderHeight%>px; overflow:visible; cursor:pointer;font-size:<%= this.data.iTextSize %>px;color:<%= this.data.iSliderTextColor %>;z-index:1" >

		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> " style="position:relative; height: 100%;display: flex;flex-direction: column;align-items: center;">

			<% if(this.data.iShowMinMax){ %>
				<% if(this.data.iShowValue){ %>
					<div><span style="color:<%= this.data.iValueTextColor%>"><%== this.data.iValuePreText%></span></div>
					<div style="margin-bottom: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px">
						<span style="color:<%= this.data.iValueTextColor%>"><%= vis.states.attr(this.data.oid + '.val') %> / </span><%= this.data.iMaxVal %>
					</div>
				<% } else { %>
					<div style="margin-bottom: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px"><%= this.data.iMaxVal %></div>
				<% } %>

				<div style="border: 0px; border-radius: <%= this.data.iSliderCorners %>px;background: <%= this.data.iSliderColor %>; width: <%= this.data.iSliderHeight %>px;flex-grow:1"
					<%= (el) -> vis.binds['vis-inventwo'].handleSlider(el, this.data,{orientation:"vertical"}) %> ></div>

				<div style="margin-top: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px"><%= this.data.iMinVal %></div>
				<div><%= this.data.iSliderLabel %></div>

			<% } else { %>
				<div style="border: 0px; border-radius: <%= this.data.iSliderCorners %>px;background: <%= this.data.iSliderColor %>; width: <%= this.data.iSliderHeight %>px;flex-grow:1"
					<%= (el) -> vis.binds['vis-inventwo'].handleSlider(el, this.data,{orientation:"vertical"}) %> ></div>

				<div style="margin-top: <%= (parseInt(this.data.iSliderKnobSize) / 2) + 5 %>px"><%= this.data.iSliderLabel %></div>

			<% } %>



		</div>


	</div>
</script>


<script id="i-vis-image"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Image.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;iImage/image;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iOpacityImg[1]/slider,0,1,0.1;"
		data-vis-set="vis-inventwo"
		data-vis-type="static"
		data-vis-name="Image">

		<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer;z-index:1" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityImg') %>;">
                <div class="vis-inventwo-button-imageContainer">
                    <img src='<%= this.data.iImage %>' style="width:100%; filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
            </div>
		</div>
	</div>
</script>

<script id="i-vis-jsontable"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Table.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTblShowHead/checkbox;iTblRowLimit/number;iVertScroll/checkbox;iHorScroll/checkbox;"
		data-vis-attrs0="iColCount/number,0,100,1;group.iTableCol/byindex;iColShow(1-iColCount)[true]/checkbox;iColName(1-iColCount)/text;iColAttr(1-iColCount)/text;iColWidth(1-iColCount)/text;"
		data-vis-attrs1="group.i-css;iOpacityAll[1]/slider,0,1,0.1;iTblRowEvenColor[#333333]/color;iTblRowUnevenColor[#455618]/color;iTblHeaderColor[#333333]/color;
		iTblRowEvenTextColor[#ffffff]/color;iTblRowUnevenTextColor[#ffffff]/color;iTblHeaderTextColor[#ffffff]/color;iRowSpacing[10]/slider,0,50,0.1;"
		data-vis-set="vis-inventwo"
		data-vis-type="table"
		data-vis-name="JSON Table">

		<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:auto; height:auto; overflow:hidden;z-index:1" id="<%= this.data.attr('wid') %>" >
        	<%= (el) -> vis.binds['vis-inventwo'].jsontable(el, this.data) %>
		</div>

</script>

<script id="i-vis-flipclock01"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Table.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;"
		data-vis-attrs0="group.i-css-clock;iBackgroundColor[#333333]/color;iTextColor[#ffffff]/color;iClockTextSize[50]/number,0,100,1;iSliderCorners[5]/slider,0,50,1;iFlipWidth[50]/number,1,200,1;"
		data-vis-set="vis-inventwo"
		data-vis-type=""
		data-vis-name="Flip Clock 60">

		<div class="vis-widget <%== this.data.attr('class') %>" style="height:150px;overflow:hidden;z-index:1;padding:2px;" id="<%= this.data.attr('wid') %>"
		<%= (el) -> vis.binds['vis-inventwo'].flipClock01(el, this.data) %> >
			<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

        		<div class="vis-inventwo-flip-clock vis-inventwo-flip-clock-text">
        			<!-- HOURS -->
  					<div id='hour_2' class="vis-inventwo-flip-clock-flip">
  					  	<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
						<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
  						<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
    					<div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

					<div id='hour_1' class="vis-inventwo-flip-clock-flip">
  						<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
  						<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
  						<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
    					<div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

  					<div class="vis-inventwo-flip-clock-seperator">:</div>

					<! MINUTES -->

					<div id='min_2' class="vis-inventwo-flip-clock-flip">
 						<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
						<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
						<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
 					  	<div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

					<div id='min_1' class="vis-inventwo-flip-clock-flip">
					  	<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

  					<div class="vis-inventwo-flip-clock-seperator">:</div>

					<!-- SECONDS -->

					<div id='second_2' class="vis-inventwo-flip-clock-flip">
					  	<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
						<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
					    <div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

					<div id='second_1' class="vis-inventwo-flip-clock-flip">
					  	<div class='vis-inventwo-flip-clock-flip-backnum'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-upper'><span>0</span></div>
					  	<div class='vis-inventwo-flip-clock-flip-lower'><span>0</span></div>
					    <div class='vis-inventwo-flip-clock-flip-line'></div>
					</div>

        		</div>

        	</div>


		</div>

</script>

