<!--
	ioBroker.vis vis-inventwo Widget-Set
	version: "0.0.1"
	Copyright 2020 jkvarel jkvarel@inventwo.com
-->


<link rel="stylesheet" href="widgets/vis-inventwo/css/style.css" />

<script type="text/javascript" src="widgets/vis-inventwo/js/vis-inventwo.js"></script>

<script id="i-vis-switch"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Switch.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Switch">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if(vis.states.attr(this.data.oid + '.val')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">

            	<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>


                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>        
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%= this.data.iTextTrue %>
		            </div>
                <% } else { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>        
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%= this.data.iTextFalse %>
		            </div>
                <% } %>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].handleToggle(el, this.data) %>
		</div>

	</div>
</script>
<script id="i-vis-switch-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Switch1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Switch Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if(vis.states.attr(this.data.oid + '.val')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>

            <% if(vis.states.attr(this.data.oid + '.val')) { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>        
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iTextTrue %>
		        </div>
            <% } else { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>        
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iTextFalse %>
		        </div>
            <% } %>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].handleToggle(el, this.data) %>
		</div>

	</div>
</script>

<script id="i-vis-button"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Button.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;value;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Button">
 
		<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">
                <div class="vis-inventwo-button-imageContainer">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>        
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>">
                    <%= this.data.iText %>
		        </div>
            </div>
		</div>
        <%= (el) -> vis.binds['vis-inventwo'].state(el, this.data) %>
	</div>
</script>
<script id="i-vis-button-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Button1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;value;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Button Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>        
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iText %>
		        </div>

            </div>
            <%= (el) -> vis.binds['vis-inventwo'].state(el, this.data) %>
		</div>

	</div>
</script>

<script id="i-vis-navigation"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Nav.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;nav_view;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Navigation">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds['vis-inventwo'].handleNavigation(el, data) %>>
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">
                <div class="vis-inventwo-button-imageContainer">
                
                        <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
               
                </div>        
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>">
                    <%= this.data.iText %>
		        </div>
            </div>
		</div>

	</div>
</script>

<script id="i-vis-navigation-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Nav1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;nav_view;iText/text;iTextSize[12]/slider,0,50,1;iImage/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="button"
		data-vis-name="Navigation Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds['vis-inventwo'].handleNavigation(el, data) %>>
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

            <div class="vis-inventwo-button"
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
            >
		    </div>
			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImage %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iText %>
		        </div>

            </div>
		</div>

	</div>
</script>

<script id="i-vis-background"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Background.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[60]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="background"
		data-vis-name="Button Background">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if(vis.states.attr(this.data.oid + '.val')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityCtn') %>;">

            	<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>


                <% if((vis.states.attr(this.data.oid + '.val') && this.data.iValueType == 'boolean') || (vis.states.attr(this.data.oid + '.val') == this.data.iValueTrue && this.data.iValueType == 'value')) { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%= this.data.iTextTrue %>
		            </div>
                <% } else { %>
                    <div class="vis-inventwo-button-imageContainer">
                        <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);" >
                    </div>
                    <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;color:<%= this.data.iTextColor %>;">
                        <%= this.data.iTextFalse %>
		            </div>
                <% } %>

            </div>
		</div>

	</div>
</script>
<script id="i-vis-background-small"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Background1.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iTextFalse/text;iTextTrue/text;iTextSize[12]/slider,0,50,1;iImageFalse/image;iImageTrue/image;iIconSize[35]/slider,0,200,1;iInvertImageCol/checkbox;iFlipImage/checkbox;iValueType[boolean]/select,boolean,value;iValueTypeInfo/custom,vis-inventwo.infoText,valueType;iValueFalse/text;iValueTrue/text;"
		data-vis-attrs0="group.i-css;iButtonCol[#333333]/color;iButtonActive[#455618]/color;
		iCornerRadiusUL[12]/slider,0,50,1;iCornerRadiusUR[0]/slider,0,50,1;iCornerRadiusLR[12]/slider,0,50,1;iCornerRadiusLL[0]/slider,0,50,1;
		iOpacity[1]/slider,0,1,0.1;iOpacityCtn[1]/slider,0,1,0.1;iTextColor[#ffffff]/color;"
		data-vis-set="vis-inventwo"
		data-vis-type="background"
		data-vis-name="Background Small">

	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:50px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %>">

            <div class="vis-inventwo-button"
                <% if(vis.states.attr(this.data.oid + '.val')) { %>
                    style="background: <%= this.data.attr('iButtonActive') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } else { %>
                    style="background: <%= this.data.attr('iButtonCol') %>;
                    border-radius: <%= this.data.attr('iCornerRadiusUL') %>px <%= this.data.attr('iCornerRadiusUR') %>px <%= this.data.attr('iCornerRadiusLR') %>px <%= this.data.attr('iCornerRadiusLL') %>px;
                    opacity:<%= this.data.attr('iOpacity')%>;"
                <% } %>
            >
		    </div>

            <div class="vis-inventwo-button-content-small" style="opacity: <%= this.data.attr('iOpacityCtn') %>">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>

            <% if(vis.states.attr(this.data.oid + '.val')) { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageTrue %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iTextTrue %>
		        </div>
            <% } else { %>
                <div style="order:2; position:relative;">
                    <img src='<%= this.data.iImageFalse %>' width="<%= this.data.iIconSize %>" style="filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
                <div class="vis-inventwo-button-text" style="font-size: <%= this.data.iTextSize %>px;display:table-cell;color:<%= this.data.iTextColor %>">
                    <%= this.data.iTextFalse %>
		        </div>
            <% } %>

            </div>
		</div>

	</div>
</script>


<script id="i-vis-slider-simple"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Slider.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;oid/id;iMinVal[1]/number;iMaxVal[100]/number;iStepVal[1]/number;iSliderRotation[0]/slider,-45,45,1;iSliderLabel/text;iShowMinMax/checkbox;"
		data-vis-attrs0="group.i-css;iSliderHeight[10]/slider,1,200,1;iSliderKnobSize[20]/slider,1,200,1;iSliderColor[#ffffff]/color;iSliderKnobColor[#455618]/color;iSliderTextColor[#ffffff]/color;iTextSize[12]/slider,0,50,1;iSliderCorners[100]/slider,0,100,1;iSliderKnobCorners[100]/slider,0,100,1;"
		data-vis-set="vis-inventwo"
		data-vis-type="slider"
		data-vis-name="Simple Slider">


	<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" id="<%= this.data.attr('wid') %>"
		style="width:200px; height:200px; overflow:visible; cursor:pointer;font-size:<%= this.data.iTextSize %>px;color:<%= this.data.iSliderTextColor %>;" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> " style="position:relative; height: auto; display:flex;align-items:center;flex-wrap:wrap; top:0px;">

		</div>

		<div style="position:absolute; left:0px; bottom:0px;"><%= this.data.iSliderLabel %></div>

	</div>
</script>

<script id="i-vis-image"
		type="text/ejs"
		class="vis-tpl"
		data-vis-prev='<img src="widgets/vis-inventwo/img/0_Image.png">'
		data-vis-attrs="iWiki/custom,vis-inventwo.externalLinks,wiki;iImage/image;iInvertImageCol/checkbox;iFlipImage/checkbox;"
		data-vis-attrs0="group.i-css;iOpacityImg[1]/slider,0,1,0.1;"
		data-vis-set="vis-inventwo"
		data-vis-type="image"
		data-vis-name="Image">

		<div class="vis-widget <%== this.data.attr('class') %> waves-effect waves-light" style="width:110px; height:110px; overflow:visible; cursor:pointer" id="<%= this.data.attr('wid') %>" >
		<div class="vis-inventwo-class vis-widget-body <%== this.data.attr('class') %> ">

			<%

            		let flip = 1;
            		if(this.data.attr('iFlipImage')){
            			flip = -1;
            		}

            	%>
            <div class="vis-inventwo-button-content" style="opacity: <%= this.data.attr('iOpacityImg') %>;">
                <div class="vis-inventwo-button-imageContainer">
                    <img src='<%= this.data.iImage %>' style="width:100%; filter: invert(<%= Number(this.data.attr('iInvertImageCol')) %>);transform: scaleX(<%= flip %>);">
                </div>
            </div>
		</div>
        <%= (el) -> vis.binds['vis-inventwo'].state(el, this.data) %>
	</div>
</script>
