/* Style your widget here */

/* BUTTONS ANFANG */

.vis-inventwo-button {
    box-shadow: 2px 2px 2px 1px #111111;
    position: absolute;
    width: 100%;
    height: 100%;
}

.vis-inventwo-button-active {
	background-color: #455618;
}

.vis-inventwo-button-imageContainer {
	text-align: center;
    position:relative;
    z-index: 1;
}

.vis-inventwo-button-text {
    position: relative;
    align-self: flex-start;
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    margin-top: auto;
    z-index: 1;
}

.vis-inventwo-button-content{
    /*padding: 7px;*/
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    display: flex;
    flex-direction: column;
}

.vis-inventwo-button-content-small{
    /*padding: 7px;*/
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
}
/* BUTTONS ENDE */

.vis-inventwo-json-table{
    border-spacing: 0px
}

.vis-inventwo-json-table th, .vis-inventwo-json-table td{
    padding-left: 5px;
    padding-right: 5px;
}

/* Flip Clock */
.vis-inventwo-flip-clock{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    height: inherit;
}

.vis-inventwo-flip-clock-flip{

    width: 100px;
    background: #222;
    display: inline-block;
    perspective: 1000px;
    margin: 0 2px;
    box-shadow: 2px 2px 2px 1px #111111;
}

.vis-inventwo-flip-clock-text{
    text-align: center;
    vertical-align: middle;
    font-size: 100px;
    padding: 0px;
    line-height: 150px;
}

.vis-inventwo-flip-clock-flip-upper, .vis-inventwo-flip-clock-flip-lower{
    width:100%;
    height: 50%;
    background: #222;
    overflow: hidden;
}

.vis-inventwo-flip-clock-flip-upper{
    transform-origin: 50% 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.vis-inventwo-flip-clock-flip-lower{
    transform-origin: 50% 0;
    line-height: 0px !important;
}

.vis-inventwo-flip-clock-flip-backnum{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.vis-inventwo-flip-clock-flip-line{
    position: absolute;
    width: 100%;
    height: 50%;
    top: 0px;
    border-bottom: 2px solid #222;
}

.vis-inventwo-flip-clock-seperator{
    font-size: 100px;
    color: #222;
}